body{
  margin:20px;
  background-color: black;
  margin: 0px 0px 54px;
}

.navbar{
  background-color:#ee692b;
  padding: 10px 10px;
  border-color:#27415866;;
  overflow: hidden;
  block-size: 1.9cm;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
  border-top-right-radius: 10px;        
  border-bottom-right-radius: 10px;
}
.navbar .nav-pills >li >a {
  color: black;
}
.navbar .nav-pills > li > a:hover {
  background-color: gold;
  text-decoration: none;
margin-left:-10px;
padding: 10px 10px 10px 10px;
/* width:150px; */
  /* background-repeat: repeat; */
  /* font-synthesis: style; */
  color: black;
}
.navbar .nav-pills .active {
  /* background-color: gold; */
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;  
border-top-right-radius: 10px;        
border-bottom-right-radius: 10px;
  color:Black ;
  font-weight:bold;
}

.nav{
  width: 100%;
  text-decoration: none;
  list-style: none;
  block-size: 1.3cm;
  text-align: left;
  padding: 13px 10px 10px 200px;
 
 
}
li{
  /* color:goldenrod; */
  display: inline-block;
  position: relative;
    padding-left: 24px;
    font-size: 20px;
    
    
}
.active{
  text-decoration: none;
  }

  /* .headerUp{ */
    /* background: url("../../image/corona.jpeg") no-repeat scroll top; */
    /* background-size: cover; */
     /* background-position: top 90%; */
     /* background-position: center; */
    /* height: 200px; */
    /*margin: 110px 0px 54px; */
  /* } */

  /* Navigation site header */
  .site-header{
    background: url("../../image/corona.jpeg") no-repeat scroll top;
    background-size: cover;
    /* background-position: top 40%;*/
    background-position: center;
    height: 400px; 
    margin: 13px 0px 54px; 
  }
  
  /* @media(max-width: 100px) {
    body {
      background-color: red;
    }  
  } */
  @media (min-width: 320px){
    .nav{
      /* height: 200px;  */
        margin: 0.5px 0px 0px 0px; 
        padding:1px 1px 1px 1px;
      flex-direction: row;
      /* background-color: red; */
    }

    .navbar .nav-pills > li > a:hover {
      background-color: gold;
      text-decoration: none;
    margin-left:-10px;
    padding: 5px 5px 5px 5px;
    /* width:150px; */
      /* background-repeat: repeat; */
      /* font-synthesis: style; */
      color: black;
    }

    .navbar{
      /* background-color:#ee692b; */
      padding: 10px 10px;
      margin: 0.25px 0.25px 0.25px 0.25px;
      padding:1px ;
      border-color:#27415866;;
      overflow: hidden;
      /* block-size: 1.9cm;
      border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; 
        border-top-right-radius: 10px;        
        border-bottom-right-radius: 10px; */
    }
    .site-header{
      background: url("../../image/corona.jpeg") no-repeat scroll top;
      background-size: cover;
      background-position: top 80%;
      background-position:left;
      /* background-position-x: 3cm; */
      height: 200px; 
      /* margin: 1px 0px 5px;  */
    }
  }